@model keremet.Models.ProductModels.Product
@{
  ViewBag.Title = "New product";
}
<h2>@ViewData["Title"]</h2>

<form asp-action="Create" class="form-horizontal">
  <div asp-validation-summary="All"></div>
  <div class="form-group">
    <label asp-for="Gender"></label>
    <input asp-for= "Gender" type="text" class="form-control" required>
    <span class="text-danger" asp-validation-for="Gender"></span>
  </div>   
  <div class="form-group">
    <label asp-for="Type"></label>
    <input asp-for= "Type" type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label asp-for="Model"></label>
    <input asp-for= "Model" type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label asp-for="Size"></label>
    <input asp-for= "Size" type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label asp-for="Color"></label>
    <input asp-for= "Color" type="text" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}