@model keremet.Models.ApplicationUser
@{
    ViewBag.Title = "Edit Volunteer";
}

<h2>Edit Volunteer</h2>

<form asp-action="EditVolunteer">
  <div class="form-group">
    <label asp-for="Email"></label>
    <input asp-for= "Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
  </div>    
  <div class="form-group">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" type="text" class="form-control">
  </div>
   <div class="form-group">
    <label asp-for="LastName"></label>
    <input asp-for="LastName" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label asp-for="DocumentId"></label>
    <input asp-for="DocumentId" type="text" class="form-control">
  </div>
   <div class="form-group">
    <label asp-for="BirthDate"></label>
    <input asp-for="BirthDate" type="text" class="form-control" >
  </div>
  <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
