@model IEnumerable<keremet.Models.ProductModels.Product>
@{
    ViewData["Title"] = "Products List";
}


<h2>Products</h2>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Gender</th>        
        <th>Type</th>
        <th>Size</th>
        <th>Model</th>   
        <th>Color</th>           
      </tr>
    </thead>
    <tbody>
         @foreach(var item in Model)
        {
        <tr>
            <td>@item.Gender</td>
            <td>@item.Type</td>
            <td>@item.Size</td>
            <td>@item.Model</td>
            <td>@item.Color</td>            
            <td>
              <a class="btn btn-default" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
  </table>